.wave-btn {
    position: relative;
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        animation: wave-button 5s infinite .5s linear backwards;
        background: #f6dec9;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        animation: wave-button 3s infinite .5s linear backwards;
        background: #f6dec9;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .icon {
        background: #f6dec9;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;           
    }

}


.video-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(large){
            justify-content: flex-end;

    }

    .text {
        font-weight: 600;
        margin-left: 30px;
        text-align: left;
    }
}

.social-link{
    display: flex;
    flex-wrap: wrap;
    li{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        display: inline-block;
    }

    &-white{
        a{
            border: 1px solid $white;
            color: $white;
        }
        
    }
    &-dark-red{
        a{
            border: 1px solid $color-dark-red;
            color: $color-dark-red;
        }
 
    }

    a{
        font-size: 15px;
        display: block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        position: relative;
        z-index: 1;
        
        &::before{
            position: absolute;
            content: "";
            background: $linear-gradient-bg;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            transition: $transition-base;
            z-index: -1;
        }

        &:hover{
            border-color: transparent;
            color: $white;
            &::before{
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}


.data-nav-arrow-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    &::after{
        position: absolute;
        content: "";
        background-image: url('../images/icons/three-dots.svg');
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 53px;
        height: 55px;
        background-repeat: no-repeat;
    }
    .data-nav-arrow{
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #fe8403;
        display: block;
        font-size: 22px;
        color: $color-dark-red;

        &:hover{
            color: #fe8403;
        }

        @include breakpoint(small){
            width: 70px;
            height: 70px;
            line-height: 70px;
        }

        @include breakpoint(medium){
            width: 80px;
            height: 80px;
            line-height: 80px;
        }

        @include breakpoint(large){
            width: 90px;
            height: 90px;
            line-height: 90px;
        }

        @include breakpoint(xlarge){
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
    }
}
