@keyframes wave-button {
    0% {
        opacity: 1;
        transform: scale(.3)
    }

    50% {
        opacity: .5;
        transform: scale(.8)
    }

    100% {
        opacity: 0;
        transform: scale(1)
    }
}